/* Write your CSS here */
.button {
  color: #7b8794;
  background-color: transparent;
  border-bottom-width: 1px solid #7b8794;
  border-width: 0;
  font-size: 18px;
  margin: 6px;
  margin-bottom: 3px;
  font-family: 'Roboto';
  font-weight: bold;
}
.line {
  border: 1px solid #dfe2e5;
}
.active {
  color: #2563eb;
}
